body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Validate-App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.Validate-App .Container {
  width: 60%;
  height: 60vh;
  border: 1px solid black;
}

.Validate-App .Container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Validate-App .Container .title .name {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Validate-App .Container .title .name p {
  text-align: left;
  padding-left: 20px;
}

.Validate-App .Container .title .table {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

.Validate-App .Container .title .table .circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Validate-App .Container .search {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Validate-App .Container .search input {
  text-align: center;
  width: 80%;
  background-repeat: no-repeat;
}

.Validate-App .Container .menu .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Validate-App .Container .menu .information #price {
  width: 40%;
}

.Validate-App .Container .menu .information .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.Validate-App .Container .menu .information .add #dash {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3vh;
}

.Validate-App .Container .menu .information .add #units {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Validate-App .Container .menu .information .add #plus {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3vh;
}

.Validate-App .Container .menu .information #total {
  width: 40%;
}

.Validate-App .Container .menu .information #cancel {
  width: 30%;
  height: 5vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3vh;
}

.Validate-App .Container button[type="submit"] {
  width: 120px;
  height: 50px;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 10px;
}
/*# sourceMappingURL=Validate.css.map */